In [33]:
import pandas as pd
import datetime
import os

def round_to_next_minute(date_str):
    # convert to datetime object
    dt = datetime.datetime.fromisoformat(date_str)

    # check if minute has already begun
    if dt.second > 0:
        # add the remaining seconds to round up to next minute
        dt += datetime.timedelta(seconds=(60 - dt.second))

    # set seconds to zero
    dt = dt.replace(second=0, microsecond=0)

    # convert to desired format
    new_date_str = dt.strftime("%Y-%m-%d %H:%M:%S")

    return new_date_str

def read_csv_round_dates(file_path):
    # read CSV file into Pandas dataframe
    df = pd.read_csv(file_path)

    # round date column to next minute
    df['datetime'] = df['time'].apply(round_to_next_minute)

    # convert to desired format
    df['datetime'] = pd.to_datetime(df['datetime']).dt.strftime("%Y-%m-%d %H:%M:%S")

    return df

def process_ftx_data(file_path):
    # read and process FTX data
    ftx_df = read_csv_round_dates(file_path)
    
    # Convert the 'date' column to a pandas datetime object
    ftx_df['datetime'] = pd.to_datetime(ftx_df['datetime'])

    # Extract the day from the datetime object
    ftx_df['day'] = ftx_df['datetime'].dt.date
    
    ftx_df["price*size"] = ftx_df["price"]*ftx_df["size"]

    ftx_df['side'] = ftx_df['side'].replace({'buy': 1, 'sell': -1})
    ftx_df['adjusted_size'] = ftx_df['side'] * ftx_df['size']

    return ftx_df

def process_intraday_data(file_path):
    # read and process intraday data
    intra_df = pd.read_csv(file_path)

    intra_df["average"] = (intra_df["open"] + intra_df["high"] + intra_df["low"] + intra_df["close"]) / 4

    intra_df['datetime'] = pd.to_datetime(intra_df['datetime'])
    intra_df['day'] = intra_df['datetime'].dt.date

    return intra_df

def fill_missing_values(df):
    # fill missing values in dataframe
    df['average'].fillna(method='ffill', inplace=True)
    df['average'].interpolate(method='linear', inplace=True)
    df['average'].fillna(method='ffill', inplace=True)
    df['average'].fillna(method='bfill', inplace=True)
    
    return df

def merge_dataframes(ftx_df, intra_df):
    merged_df = pd.merge(ftx_df, intra_df[['datetime', 'average']], on='datetime', how='left')
    fill_missing_values(merged_df)
    merged_df["premium"] = (merged_df["price"] / merged_df["average"]) - 1
    merged_df["premium*size"] = merged_df["premium"] * merged_df["size"]
     
    return merged_df

#def merge_dataframes(ftx_df, intra_df):
# merge FTX and intraday dataframes
#    merged_df = pd.merge(ftx_df, intra_df[['day', 'average']], on='day', how='left')
#   merged_df["premium"] = (merged_df["price"] / merged_df["average"]) - 1
    
# separate unmatched rows into two dataframes
#  ftx_unmatched = ftx_df.loc[~ftx_df.index.isin(ftx_df.index)]
# intra_unmatched = intra_df.loc[~intra_df.index.isin(intra_df.index)]

#return merged_df, ftx_unmatched, intra_unmatched


def create_daily_data(merged_df, ftx_df):
    daily_merged_df = merged_df.groupby('day').agg({'price':'mean', 'size':'sum',
                                                    'premium':'mean', 'premium*size':'mean',
                                                    'price*size':'sum', 'average':'mean',
                                                    "adjusted_size":"sum"})
    daily_merged_df["weighted_price"] = daily_merged_df["price*size"] / daily_merged_df["size"]
    daily_merged_df["weighted_average_premium"] = daily_merged_df["premium*size"] / daily_merged_df["size"]
    daily_merged_df['count'] = ftx_df.groupby('day')['id'].count()
    
    buy_df = ftx_df[ftx_df['side']== 1]
    sell_df = ftx_df[ftx_df['side']== -1]
    
    daily_merged_df['WAP_buy'] = buy_df.groupby('day').apply(lambda x: (x['price']*x['size']).sum() / x['size'].sum())
    daily_merged_df['WAP_sell'] = sell_df.groupby('day').apply(lambda x: (x['price']*x['size']).sum() / x['size'].sum())

    # Add 'day' column back as a regular column
    daily_merged_df.reset_index(inplace=True)
    
    return daily_merged_df
    
def process_daily_data(file_path):
    # read and process daily data
    df = pd.read_csv(file_path)

    df["average"] = (df["OPEN"] + df["HIGH"] + df["LOW"]+ df["CLOSE"]) / 4

    df["abs_trade_size"] = df["VOLUME"] * df["average"]

    df["avg_trade_size"] = df["average"] * df["VOLUME"] / df["COUNT"]

    return df


def plot_data(df):
    # plot the data
    df.plot(x="datetime", y=['average', 'price'], kind='line')
    plt.yscale("log")
    plt.show()

In [35]:
import os
import pandas as pd
import glob


# Define function to process data for a given stock symbol
def process_data(stock_symbol):
    # Define file paths for FTX, intraday and daily data
    ftx_file_path = f"/Users/namirsacic/tokenized-assets/ftx/ftx_{stock_symbol}USD.csv"
    intra_file_path = f"/Users/namirsacic/tokenized-assets/intraday/{stock_symbol}_US_data.csv"
#    daily_file_path = glob.glob(f"/Users/namirsacic/tokenized-assets/daily_data/{stock_symbol}.*.csv")[0]

    # Process FTX data
    ftx_df = process_ftx_data(ftx_file_path)

    # Process intraday data
    intra_df = process_intraday_data(intra_file_path)
    
    #Merge dataframes
    merged_df = merge_dataframes(ftx_df, intra_df)

    # Create daily data
    daily_merged_df = create_daily_data(merged_df, ftx_df)

    # Process daily data
    #daily_df = process_daily_data(daily_file_path)

    #Fill missing values
    #daily_df = fill_missing_values(daily_df)

    # Plot data
    #plot_data(daily_df)

    # Store dataframes as csv files
    
    merged_df.to_csv(f"/Users/namirsacic/tokenized-assets/data_analysis/processed_data/merged_data/{stock_symbol}_merged.csv", index=False)
    daily_merged_df.to_csv(f"/Users/namirsacic/tokenized-assets/data_analysis/processed_data/daily_merged_data/{stock_symbol}_daily_merged.csv", index=False)
    #daily_df.to_csv(f"/Users/namirsacic/tokenized-assets/data_analysis/processed_data/daily_data/{stock_symbol}_daily.csv", index=False)
    #ftx_unmatched.to_csv(f"/Users/namirsacic/Desktop/tokenized-assets/data_analysis/processed_data/ftx_unmatched/{stock_symbol}_ftx_unmatched.csv", index=False)
    #intra_unmatched.to_csv(f"/Users/namirsacic/Desktop/tokenized-assets/data_analysis/processed_data/intraday_unmatched/{stock_symbol}_intra_unmatched.csv", index=False)

# List of stock symbols to process
#stock_symbols = ["AAPL","ABNB" "ACB", "AMC" "AMZN", "APHA", "ARKK", "BABA", "BB", "BILI", "BITO", "BNTX",
#                 "BYND", "CGC", "COIN", "CRON", "DKNG", "GDX", "GDXJ", "GLD", "GME", "GOOGL", 
#                 "HOOD", "MRNA", "MSFT", "MSTR", "NFLX", "NIO", "NOK", "NVDA", "PENN", "PFE", "PYPL", 
#                 "SPY", "SLV", "SQ", "TLRY", "TSLA", "TWTR", "UBER", "USO", "ZM"]
                
#stock_symbols = ["AAPL", "ABNB", "ACB", "AMC", "AMZN", "ARKK", "BABA", "BB", "BITO", "BNTX",
#                 "BYND", "COIN", "CRON", "DKNG", "GDX", "GDXJ", "GLD", "GME", "GOOGL", 
#                 "HOOD", "MRNA", "MSTR", "NFLX", "NIO", "NVDA", "PENN", "PFE", "PYPL", 
 #                "SPY", "SLV", "SQ", "TLRY", "TSLA", "UBER", "USO", "ZM"]


stock_symbols = ["AAPL"]    
    
#Missing daily data: APHA, BILI, CGC, MSFT, NOK
#Missing intraday: AMD

# Process data for each stock symbol
for stock_symbol in stock_symbols:
    process_data(stock_symbol)

In [20]:
df = process_intraday_data("/Users/namirsacic/tokenized-assets/intrad/AAPL_US_data.csv")

In [21]:
df.tail()

,datetime,open,high,low,close,volume,average,day
644793,2023-02-25 00:55:00,146.40,146.4,146.4000,146.40,739,146.400000,2023-02-25
644794,2023-02-25 00:56:00,146.40,146.4,146.4000,146.40,1042,146.400000,2023-02-25
644795,2023-02-25 00:57:00,146.39,146.4,146.3000,146.30,8992,146.347500,2023-02-25
644796,2023-02-25 00:58:00,146.40,146.4,146.3600,146.36,785,146.380000,2023-02-25
644797,2023-02-25 00:59:00,146.32,146.4,146.3001,146.40,2177,146.355025,2023-02-25

In [25]:
test = pd.read_csv("/Users/namirsacic/tokenized-assets/data_analysis/processed_data/daily_data/AAPL_daily.csv")

In [26]:
test.head()

,Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME,average,abs_trade_size,avg_trade_size
0,2020-01-02,75.150000,75.0875,73.7975,74.0600,283480,135647456,74.523750,1.010896e+10,35660.212710
1,2020-01-03,75.145000,74.3575,74.1250,74.2875,280940,146535512,74.478750,1.091378e+10,38847.375825
2,2020-01-06,74.990000,74.9500,73.1875,73.4475,242861,118578576,74.143750,8.791860e+09,36201.202722
3,2020-01-07,75.225000,74.5975,74.3700,74.9600,227868,111510620,74.788125,8.339670e+09,36598.689537
4,2020-01-08,76.109975,75.7975,74.2890,74.2900,261770,132363784,75.121619,9.943382e+09,37985.184391

In [27]:
test.describe()

,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME,average,abs_trade_size,avg_trade_size
count,756.000000,756.000000,756.000000,756.000000,7.560000e+02,7.560000e+02,756.000000,7.560000e+02,756.000000
mean,131.892664,130.311693,128.614801,130.231757,6.604829e+05,1.121213e+08,130.262729,1.363553e+10,22071.259418
std,30.841406,30.566606,30.287451,30.596254,3.009857e+05,5.603747e+07,30.555958,5.022831e+09,6276.601891
min,57.124925,56.092500,53.152500,57.020000,1.761690e+05,3.519586e+07,55.847481,5.212639e+09,10526.168967
25%,117.275000,115.739375,114.130000,115.924937,4.809520e+05,7.636470e+07,115.858750,1.010747e+10,18184.493234
50%,137.200000,135.380000,133.750000,135.795000,6.149005e+05,9.493581e+07,135.431250,1.252430e+10,19943.538281
75%,151.902500,150.705000,149.030075,150.260000,7.740652e+05,1.297465e+08,150.427375,1.576871e+10,23745.762058
max,182.940000,182.010000,179.120000,182.630000,2.967004e+06,4.268849e+08,181.097500,4.387150e+10,45799.002999